JWT_SECRET=SUPER_RANDOM_SECRET

DB_URL_USER=jdbc:postgresql://xxxxx.rds.amazonaws.com:5432/buminiaga?currentSchema=user_schema
DB_URL_PRODUCT=jdbc:postgresql://xxxxx.rds.amazonaws.com:5432/buminiaga?currentSchema=product_schema

DB_USER=postgres
DB_PASSWORD=supersecret

AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=buminiagaagrochem-assets
AWS_CLOUDFRONT_URL=https://xxxxx.cloudfront.net

ALLOWED_ORIGIN=https://yourdomain.com